.sidebar__nav {
         position: fixed;
        top: 0;
        right: -280px;
        width: 280px;
        height: 100vh;
        background-color: rgba(117, 188, 105) !important;
        z-index: 4;
        padding: 16px;
        transition: right 0.3s ease;

        &.open {
            right: 0; /* Slide the sidebar into view */
          }
}

.sidebar__item {
    display: flex;
    justify-content: space-between;
}