.support__form {
  width: 50%;
}

textarea::placeholder {
  color: #000;
  font-size: 16px;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.facts__img {
  height: 100%;
}

@media (max-width: 960px) {
  .facts__img {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}