.sidebar__nav {
  position: fixed;
  right: 0; /* Start off-screen */
  width: 35%; /* Adjust this width as needed */
  background-color: rgba(117, 188, 105, 0.7); /* Sidebar background color */
  z-index: 3;
  transition: right 0.3s ease; /* Smooth transition */
}
.sidebar-toggle {
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  z-index: 1001; /* Above the sidebar */
  cursor: pointer;
}  
  .menu-icon {
    display: block; /* Show the menu icon */
  }
  
  /* CSS to hide the navigation panel on small screens */
  @media screen and (max-width: 768px) {
    .navigation-panel {
      transform: translateX(0);
    }
  
    .menu-icon {
      display: none; /* Hide the menu icon */
    }
  }
  