.sidebar__nav {
  position: fixed;
  right: 0; 
  width: 35%; 
  background-color: rgba(117, 188, 105, 0.7); 
  z-index: 3;
  transition: right 0.3s ease; 
}
.sidebar-toggle {
  position: fixed;
  top: 20px; 
  right: 20px; 
  z-index: 1001; 
  cursor: pointer;
}  
  .menu-icon {
    display: block; 
  }

  .MuiToolbar-root {
    a {
      text-decoration: none;
      color: #00454C;
    }
  }
  
  @media screen and (max-width: 768px) {
    .navigation-panel {
      transform: translateX(0);
    }
  
    .menu-icon {
      display: none; 
    }
  }
  